{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="./static/welcome.css">
<div class="oauth-background">
    <!-- <div class="row">
        <div class="mx-auto">
            <h1 class="header-text">Welcome!</h1
            <h3>Click Button to get a Token</h3>
        </div>     
    </div>
    <div class="row justify-content-center button-row">
        <div class="mx-auto">
            <form action="/welcome" method="POST">
                <input class="btn oauth-button" type="submit" value="Click Me!" name="submitbutton">
            </form>
        </div>
    </div>  -->
</div>

{% endblock %}